html
{
	--fadetime: 0.15s;
	--icolor: #F29B17; /* F1B636 */
	--bgcolor: #1E1F25;
	--boxcolor: #151416;
	--textcolor: #EEEEEE;
	--blackcolor: #000000;
	--bordercolor: #2D333A;
	--borderhover: #F29B17;
	--subtlecolor: #EEEEEE80;
	--shadowcolor: #00000080;
	--activeshadowcolor: #000000B3;
}
body
{
	height: 100vh;
	width: 100vw;
	position: absolute;
	background: var(--blackcolor);
	background-size: cover;
	background-position: center;
}
body, html
{
	background: var(--blackcolor);	
	position: relative;
	z-index: -5;
	margin: 0;
	padding: 0;
	color: var(--textcolor);
	overflow-x: hidden;
	font-family: Bitstream Vera Sans, DejaVu Sans, Arial, Helvetica, sans-serif;
}
a, form input, form label, .footer span
{
	text-decoration: none;
	-webkit-transition: ease var(--fadetime);
	-moz-transition: ease var(--fadetime);
	-o-transition: ease var(--fadetime);
	transition: ease var(--fadetime);
}
a:link
{ color: var(--textcolor); }
a:visited
{ color: inherit; }
a:hover
{
	color: var(--icolor) !important;
	opacity: 1 !important;
}
::-webkit-scrollbar
{
	width: 12px;
	height:12px;
}
::-webkit-scrollbar-track
{ background: var(--boxcolor); }
::-webkit-scrollbar-thumb
{
	background: #4D535A;
	border-radius: 4px;
	border: 2px solid var(--boxcolor);
}
::-webkit-scrollbar-thumb:hover
{ background: var(--icolor); }
::-webkit-scrollbar-corner
{ background: var(--blackcolor); }
form, p
{ margin: 0; }
.main
{
	background: var(--bgcolor);
	min-height: calc(4rem + 50px);
	position: relative;
}
.mascot
{
	position: absolute;
	height: 256px;
	left: 0;
	top: -150px;
	z-index: 10;
}
.mascot img
{ height: 100%; }
.mascot span
{
	position: relative;
	color: var(--subtlecolor);
	left: 0.4em;
	top: -1.5em;
}
.mascot a
{ color: var(--textcolor); }


.loading
{
	top: 50%;
	left: 50%;
	position: fixed;
	transform: translate(-50%, -50%);
}
.loadingcover
{
	top: 50%;
	left: 50%;
	position: fixed;
	transform: translate(-50%, -50%);
	height: 100px;
	width: 100px;
	background-color: inherit;
}
.centery
{
	top: 50%;
	transform: translateY(-50%);
	position: relative;
}
.topy
{
	top: 128px;
	position: relative;
}
.interactable
{
	position: relative;
	margin: 0 0 25px;
	border-radius: 3px;
	padding: 0.5em 1em;
	border: 1px solid var(--bordercolor);
	display: inline-block;
	font-weight: normal;
	white-space: nowrap;
	background: var(--boxcolor);
	box-shadow: 0 2px 3px 1px var(--shadowcolor);
	-webkit-transition: ease var(--fadetime);
	-moz-transition: ease var(--fadetime);
	-o-transition: ease var(--fadetime);
	transition: ease var(--fadetime);
}
.interactable:hover, .interactable:active, .interactable:focus
{
	border-color: var(--borderhover);
	color: var(--icolor);
}
.interactable:hover
{ box-shadow: 0 0 10px 3px var(--activeshadowcolor); }
.interactable img
{
	margin-bottom: -0.125em;
	height: 1em;
}
.footer
{
	width: 100%;
	min-height: 1.5em;
	margin: 4px 0 0;
	font-size: 0.9rem;
	white-space: nowrap;
	padding: 0 0 1.5em;
	text-align: center;
}
.footer .anchor
{
	/*bottom: 4px;*/
	left: 50%;
	transform: translateX(-50%);
	position: relative;
	height: 1.2em;
	width: 1px;
	background: var(--textcolor);
}
.footer .anchor a
{ text-shadow: 0 0.125em 0.1875em var(--shadowcolor); }
.footer .anchor a:hover
{ text-shadow: 0 0 0.625em var(--activeshadowcolor); }
.footer .anchor .left
{
	position: absolute;
	right: 8px;
}
.footer .anchor .right
{
	position: absolute;
	left: 8px;
}
.footer .faprogress, .footer .fnprogress
{
	display: block;
	left: 50%;
	transform: translateX(-50%);
	position: relative;
	width: calc(100vw - 50px);
	height: 1.1em;
	border: 1px solid var(--bordercolor);
	background: var(--boxcolor);
	box-shadow: 0 2px 3px 1px var(--shadowcolor);
	border-radius: 3px;
	overflow: hidden;
	margin: 8px 0 6px;
}
.footer .faprogress:hover, .footer .fnprogress:hover
{
	border-color: var(--borderhover);
	box-shadow: 0 0 10px 3px var(--activeshadowcolor);
}
.footer .faprogress span, .footer .fnprogress span
{
	position: absolute;
	left: 0;
	height: 100%;
	color: #000000;
	text-align: right;
	font-weight: bold;
	padding-right: 4px;
	box-sizing: border-box;
}
.footer .faprogress p, .footer .fnprogress p
{
	position: absolute;
	font-style: italic;
	bottom: 1px;
	font-size: 0.85em;
	opacity: 0.5;
}
.footer .faprogress p.left, .footer .fnprogress p.left
{
	text-align: left;
	left: 4px;
}
.footer .fnprogress span
{
	text-shadow: 0 0 4px #2E76B4;
	background: linear-gradient(to right, #0000, #2E76B4);
}
.footer .faprogress span
{
	text-shadow: 0 0 4px #FAAF3A;
	background: linear-gradient(to right, #0000, #FAAF3A);
}
.footer .fnprogress:hover span, .footer .faprogress:hover span
{ opacity: 0.5; }
.upload
{
	width: 100%;
	padding: 25px;
	overflow: hidden;
	position: relative;
	border-radius: 3px;
	border: 2px dashed var(--bordercolor);
	display: inline-block;
	white-space: initial;
}
form .text
{
	width: 100%;
	color: var(--textcolor);
	padding: 0.5em;
}
form .text:active, form .text:focus
{ color: var(--textcolor); }
input
{
	display: inline-block;
	border: 1px solid var(--bordercolor);
	border-radius: 3px;
	background: var(--boxcolor);
	color: var(--textcolor);
	font-size: 1em;
	padding: 1px 3px;
}
form
{
	width: 800px;
	max-width: calc(100% - 50px);
}
form span
{
	position: relative;
	left: 25px;
	z-index: 10;
	padding: 0 0 2px;
	display: inline-block;
}
form .maxrating, form .integratedsearch
{
	margin: -14px 0 9px;
	padding: 0.5em 0;
	display: inline-block;
	width: calc(100% - 80px);
	line-height: 3;
}
form .maxrating input, form .integratedsearch input
{
	position: absolute;
	top: -100vh;
	opacity: 0;
	height: 0;
	width: 0;
}
form .maxrating label, form .integratedsearch label
{
	cursor: pointer;
	padding: 0.5em 1em;
	margin: 0 25px 0 0;
	border: 1px solid var(--bordercolor);
	background: var(--boxcolor);
	box-shadow: 0 2px 3px 1px var(--shadowcolor);
	border-radius: 3px;
	white-space: nowrap;
}
form .maxrating input:checked + label, form .maxrating input:checked + label:before, form .maxrating input:checked + label:after,
form .maxrating label:hover, .form .maxrating label:active, form .maxrating label:focus,
form .integratedsearch label:hover, .form .integratedsearch label:active, form .integratedsearch label:focus
{
	border-color: var(--borderhover);
	color: var(--icolor);
}
form .maxrating label:hover, form .integratedsearch label:hover
{ box-shadow: 0 0 10px 3px var(--activeshadowcolor); }
form .integratedsearch div#checkmark
{
	position: relative;
	display: inline-block;
	left: 0;
	padding: 0;
	margin: 0 0.5em 0 -0.3em;
	height: 1.2em;
	width: 1.2em;
	top: 0.25em;
	border-radius: 3px;
	background-color: var(--bgcolor);
}
/* form .integratedsearch label:hover div#checkmark, .form .integratedsearch label:active div#checkmark, form .integratedsearch label:focus div#checkmark
{ }
form .integratedsearch input:checked + label div#checkmark
{ } */
form .integratedsearch label div#checkmark div
{
	left: 0.35em;
	top: 0.15em;
	width: 0.3em;
	height: 0.55em;
	border: solid 0 #00000000;
	border-width: 0;
	position: absolute;
	-webkit-transition: ease var(--fadetime);
	-moz-transition: ease var(--fadetime);
	-o-transition: ease var(--fadetime);
	transition: ease var(--fadetime);
}
form .integratedsearch input:checked + label div#checkmark div
{
	border-color: var(--icolor);
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
form input.submit
{
	position: absolute;
	right: 0;
}
div.cookies
{
	position: absolute;
	left: 25px;
	bottom: 25px;
	background: var(--bgcolor);
	border: 1px solid var(--bordercolor);
	border-radius: 3px;
	padding: 25px;
	box-shadow: 0 2px 3px 1px var(--shadowcolor);
	display: none;
}
div.cookies .interactable
{
	margin: 0 0 0 25px;
	display: inline-block;
}
p.center
{
	text-align: center;
	margin: 0;
	padding: 0 0 25px;
	color: var(--subtlecolor);
}
p.message
{
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 25px 0 0;
}
pre.message
{
	display: block;
	padding: 8px;
	background: var(--boxcolor);
	margin: 0 0 25px;
	line-height: 1em;
	white-space: pre-wrap;
	border: 1px solid var(--bordercolor);
	border-radius: 3px;
	box-shadow: 0 2px 3px 1px var(--shadowcolor);
}
.centerx
{
	left: 50%;
	transform: translateX(-50%);
	position: relative;
}
.statictitle
{
	text-align: center;
	font-size: 4rem;
	padding: 25px 0 0;
	margin: 0;
}
.staticsubtitle
{
	text-align: center;
	opacity: 0.5;
	margin: 0;
}
.statictitle .beta
{
	position: absolute;
	font-size: 1rem;
	width: 0;
	font-weight: bold;
	color: var(--subtlecolor);
}
svg
{
	height: 1em;
	margin-bottom: -0.2em;
}
.title
{
	position: absolute;
	text-align: left;
	font-size: 4rem;
	padding: 25px 0 0 25px;
	margin: 0;
} 
.searchstats
{
	text-align: left;
	margin: 5.5em 0 0 25px;
	position: absolute;
	font-size: 1em;
	max-width: 300px;
}
.top
{
	width: 800px;
	max-width: calc(100% - 50px);
	left: 50%;
	transform: translateX(-50%);
	position: relative;
	padding: 25px 0 0;
}
.source
{
	position: relative;
	background: var(--boxcolor);
	border-radius: 3px;
	padding: 8px;
	border: 1px solid var(--bordercolor);
	display: inline-block;
	min-height: 128px;
	box-shadow: 0 2px 3px 1px var(--shadowcolor);
	-webkit-transition: ease var(--fadetime);
	-moz-transition: ease var(--fadetime);
	-o-transition: ease var(--fadetime);
	transition: ease var(--fadetime);
}
.source img
{
	max-width: 256px;
	max-height: 128px;
}
.top .source h2
{
	left: 8px;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
}
.source h2
{ margin: 0; }
.top .image h2
{
	top: 64px;
	left: 64px;
	display: inline-block;
	transform: translate(-50%,-50%);
}
.top .image
{
	float: left;
	width: 128px;
	height: 128px;
}
.source .thumbnail
{
	top: 64px;
	transform: translateY(-50%);
	position: relative;
	float: left;
}
a.source:hover, a.source:active, a.source:focus
{
	border-color: var(--borderhover);
	box-shadow: 0 0 10px 3px var(--activeshadowcolor);
}
.top span
{ 
	position: relative;
	left: 25px;
	z-index: 10;
	padding: 0 0 8px;
	display: inline-block;
}
.top .source span
{ left: 8px; }
.top div.links
{
	right: 0;
	text-align: right;
	position: absolute;
	top: 0;
	padding: 8px 8px 16px 0;
	margin: 0;
	background: var(--boxcolor);
}
.top .links span
{
	position: absolute;
	left: -50px;
	width: 0;
	height: 100%;
	padding-left: 50px;
	background: linear-gradient(to right, #00000000, var(--boxcolor));
}
.top .links a
{
	margin: 5px;
	display: block;
}
.top .links img
{
	height: 1em;
	margin: 0 0 -2px;	
}
.top .source
{
	display: block;
	margin: 0 0 25px;
	text-align: left;
	overflow: hidden;
}
h3#percent
{
	position: absolute;
	font-weight: bold;
	right: 8px;
	bottom: 8px;
	margin: 0;
	background: var(--boxcolor);
}

.top p
{
	display: inline-block;
	padding: 0 8px 0 0;
}

.more
{
	text-align: center;
	width: 100%;
}
.more .source
{
	min-width: 128px;
	max-width: 256px;
	overflow: hidden;
	white-space: nowrap;
	margin: 0 12.5px 25px;
}
.more .source .thumbnail
{
	left: 50%;
	transform: translate(-50%, -50%);
}
.more .source .image
{ height: 128px; }
.more .source p.left
{
	text-align: left;
	max-width: 0;
	overflow: hidden;
	text-transform: capitalize;
	padding-right: 100%;
}
.more .source div.right
{
	position: absolute;
	right: 8px;
}
.more .source div.right b
{
	background: var(--boxcolor);
	position: relative;
	top: -0.2em;
	padding: 0 0 0.1em;
}
.more .source div.right span
{
	background: linear-gradient(to right, #00000000, var(--boxcolor));
	height: 1.2em;
	width: 25px;	
	display: inline-block;
}
.more .source div.links
{
	overflow-x: scroll;
	margin: 4px -8px -8px;
}
.more .source div.links img
{
	height: 1em;
	position: relative;
}
.more .source div.links a
{ margin: 0 4px; }
data
{ display: none; }
@media screen and (max-width:90rem)
{
	.title
	{
		position: relative;
		text-align: center;
		padding: 25px 0 0;
		margin-bottom: -25px;
	}
	.searchstats
	{
		text-align: center;
		margin: 15px 0 0;
		font-size: 1em;
		position: relative;
		max-width: 100%;
	}
}
body
{ display: block !important;}

/* theme menu */

.changemascot
{
font-size: 0.9em;
text-align: center;
}
.themebutton
{
	position: absolute;
	right: 0;
	font-size: 0.9em;
	color: var(--subtlecolor);
	margin-right: 25px;
}

.themes
{
	overflow: hidden;
	position: absolute;
	bottom: 0;
	right: 0;
	height: 100px;
	/* height: 120px; */
	width: 300px;
}

.themes input
{ display: none; }

.themes input:checked ~ .theme-menu
{ top: 5px; }

.theme-menu
{
	top: 100%;
	right: -25px;
	border-top-left-radius: 3px;
	position: absolute;
	background: var(--boxcolor);
	padding: 25px 50px 50px 25px;
	border-left: 1px solid var(--bordercolor);
	border-top: 1px solid var(--bordercolor);
	box-shadow: 0 2px 3px 1px var(--shadowcolor);
	-webkit-transition: ease var(--fadetime);
	-moz-transition: ease var(--fadetime);
	-o-transition: ease var(--fadetime);
	transition: ease var(--fadetime);
}

select
{
border-radius: 3px;
background: var(--bgcolor);
color: var(--textcolor);
border: 1px solid var(--bordercolor);
	width: 125px;
}

.themes td:first-child
{ padding-right: 8px; }

/* themes */

/*body.kheina
{ / * reset, no variables needed * / }*/

html.light
{
	--icolor: #CB6000;
	--bgcolor: #C3C3C4;
	--boxcolor: #A5A59D;
	--textcolor: #000000;
	--blackcolor: #E0E4E8;
	--bordercolor: #2D333A;
	--borderhover: #CB6000;
	--subtlecolor: #00000080;
	--shadowcolor: #EEEEEE80;
	--activeshadowcolor: #EEEEEEB3;
}

html.e621
{
	--icolor: #2E76B4;
	--bgcolor: #152F56;
	--boxcolor: #213A5F;
	--textcolor: #EEEEEE;
	--blackcolor: #031131;
	--bordercolor: #00000000;
	--borderhover: #00000000;
	--subtlecolor: #B4C7D9;
	--shadowcolor: #07162D;
	--activeshadowcolor: #07162D;
}
html.e621 body
{
	background-image: url(/themes/stripe.png);
	background-repeat: repeat;
	background-position: center top;
	background-size: auto;
}
html.e621 div.main
{
	margin: 0 0.82em;
	border-radius: 6px;
}
html.e621 div.main div.themes
{ border-bottom-right-radius: 6.5px; }

html.youtube
{
	--icolor: #FFFFFF;
	--bgcolor: #272727;
	--boxcolor: #383838;
	--textcolor: #EEEEEE;
	--blackcolor: #121212;
	--bordercolor: #404040;
	--borderhover: #747474;
	--subtlecolor: #909090;
	--shadowcolor: #00000000;
	--activeshadowcolor: #00000000;
}

html.wikipedia
{
	--icolor: #0645AD;
	--bgcolor: #FFFFFF;
	--boxcolor: #F8F9FA;
	--textcolor: #222222;
	--blackcolor: #F6F6F6;
	--bordercolor: #C8CCD1;
	--borderhover: #A7D7F9;
	--subtlecolor: #54595D;
	--shadowcolor: #00000000;
	--activeshadowcolor: #00000000;
}
html.wikipedia body
{ background-image: linear-gradient(#FFFFFF 2.5em,#F6F6F6 5em); }
html.wikipedia div.main
{
	border-top: 1px solid #A7D7F9;
	border-bottom: 1px solid #A7D7F9;
}

html.terminal
{
	--icolor: #008000;
	--bgcolor: #000000;
	--boxcolor: #000000;
	--textcolor: #00FF00;
	--blackcolor: #000000;
	--bordercolor: #00FF00;
	--borderhover: #008000;
	--subtlecolor: #008000;
	--shadowcolor: #00000000;
	--activeshadowcolor: #00000000;
	filter: sepia(100%) saturate(550%) hue-rotate(90deg);
}

html.solarized-dark
{
	--icolor: #b58900;
	--bgcolor: #073642;
	--boxcolor: #002b36;
	--textcolor: #93a1a1;
	--blackcolor: #002b36;
	--bordercolor: #586e75;
	--borderhover: #b58900;
	--subtlecolor: #657b83;
	--shadowcolor: #002b36;
	--activeshadowcolor: #2aa19820;
}

html.solarized-light
{
	--icolor: #cb4b16;
	--bgcolor: #eee8d5;
	--boxcolor: #fdf6e3;
	--textcolor: #586e75;
	--blackcolor: #fdf6e3;
	--bordercolor: #586e75;
	--borderhover: #cb4b16;
	--subtlecolor: #839496;
	--shadowcolor: #93a1a1;
	--activeshadowcolor: #dc322f40;
}

html.furaffinity
{
	--icolor: #AFAFAF;
	--bgcolor: #2E3B41;
	--boxcolor: #6A7283;
	--textcolor: #FFFFFF;
	--blackcolor: #2E3B41;
	--bordercolor: #DCDCDC;
	--borderhover: #AFAFAF;
	--subtlecolor: #CFCFCF;
	--shadowcolor: #00000000;
	--activeshadowcolor: #00000000;
}
html.furaffinity div.main
{
	border-top: 1px solid var(--bordercolor);
	border-bottom: 1px solid var(--bordercolor);
}

html.discord
{
	--icolor: #7289DA;
	--bgcolor: #2F3136;
	--boxcolor: #26272B;
	--textcolor: #DCDDDE;
	--blackcolor: #202225;
	--bordercolor: #1E1F23;
	--borderhover: #7289DA;
	--subtlecolor: #72767D;
	--shadowcolor: #202225;
	--activeshadowcolor: #202225;
}
html.xfire
{
	--icolor: #3D73D7;
	--bgcolor: #12283F;
	--boxcolor: #1D1C22;
	--textcolor: #ABC6E3;
	--blackcolor: #000000;
	--bordercolor: #00020A;
	--borderhover: #3D73D7;
	--subtlecolor: #ABC6E3A0;
	--shadowcolor: #00000080;
	--activeshadowcolor: #000000B3;
}
html.xfire div.main
{
	background-image: linear-gradient(#8BA0E3 0, #2D6191 2px, #2D6191 4px, #00022C 5px, #00000000 5px), linear-gradient(#00000000 calc(100% - 5px), #8BA0E3 calc(100% - 5px), #2D6191 calc(100% - 3px), #2D6191 calc(100% - 1px), #00022C 100%), linear-gradient(#00000000 0, #12283F 12.5em), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAEAgMAAADUn3btAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAJUExURRoaGhQUFBYUFoTVw40AAAADdFJOUx1+6Ybi+lkAAAAQSURBVAgdY0hhmMjgxiAJAAaEAVXCNxHMAAAAAElFTkSuQmCC), linear-gradient(#030316 0, #030316 100%);
	background-position: left top, left top, left top, left top, left bottom;
}

@keyframes gay
{
	00%
	{ color: red }
	20%
	{ color: yellow }
	40%
	{ color: green }
	60%
	{ color: cyan }
	80%
	{ color: blue }
	100%
	{ color: purple }
}
html.gay, html.gay a
{ animation: gay 1s infinite; }

/* accents */

/*body div.main.none
{ / * having "nothing" here allows us to apply accents to themes without having them be overridden by none * / }*/

html.winter div.main
{
	background-image: url(/themes/snow_bottom.png), url(/themes/snow_top.png);
	background-repeat: repeat-x;
	background-position: center bottom, center top;
	padding-bottom: 25px;
}

html.spring div.main
{
	background-image: url(/themes/snow_bottom.png), url(/themes/snow_top.png);
	background-repeat: repeat-x;
	background-position: center bottom, center top;
	padding-bottom: 25px;
}

html.summer div.main
{
	background-image: url(/themes/snow_bottom.png), url(/themes/snow_top.png);
	background-repeat: repeat-x;
	background-position: center bottom, center top;
	padding-bottom: 25px;
}

html.autumn div.main
{
	background-image: url(/themes/snow_bottom.png), url(/themes/snow_top.png);
	background-repeat: repeat-x;
	background-position: center bottom, center top;
	padding-bottom: 25px;
}

html.hex div.main
{
	background-image: url(/themes/hex.png);
	background-repeat: repeat-x;
	background-position: center top;
}

html.fox div.main
{
	background-image: url(/themes/fox.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}

html.snep div.main
{
	background-image: url(/themes/snep.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}
